.section1-grid-item1 .arrow-image,
.section1-grid-item2 .developer-image {
  transition: transform 1s;
}

.section1-grid-item1:hover .arrow-image {
  transform: translate(0px, -10px);
  transition: transform 1s;
}
.section1-grid-item2:hover .developer-image {
  transform: scale(1.1, 1.1);
  transition: transform 1s;
}
