.section1-grid-item1 .smiling-image,
.section1-grid-item1 .arrow-image,
.section1-grid-item2 .developer-image,
.section1-grid-item3 .hand-image {
  transition: transform 1s;
}

.section1-grid-item1:hover .arrow-image,
.section1-grid-item3:hover .hand-image {
  transform: translate(0px, -10px);
  transition: transform 1s;
}
.section1-grid-item2:hover .developer-image {
  transform: scale(1.1, 1.1);
  transition: transform 1s;
}

.section1-grid-item1 .smiling-image,
.section2-flex .about-image-box {
  filter: grayscale(40%);
  transition: filter 1s;
}
.section1-grid-item1:hover .smiling-image,
.section2-flex:hover .about-image-box {
  filter: grayscale(10%);
  transition: filter 1s;
}

.highlight-text {
  font-weight: 600;
  line-height: 1.5;
  color: #c1c1c1 !important;
  /* color: white; */
  /* border-bottom: 0.1px dotted #c1c1c1; */
  background-color: #57575754;
  padding: 0 5px;
  /* margin: 0 0 0 1px; */
  border-radius: 5px;
}

.portfolio-card .sub-title {
  font-weight: 800;
  font-size: larger;
}
.portfolio-card .sub-text {
  font-size: larger;
}

.mobile-menu-list {
  padding-left: 10px;
  padding-bottom: 10px;
}
.mobile-menu-item {
  color: #c1c1c1;
  background-color: #1a1a1a;
  font-size: 18px;
  /* border-bottom: 2px double #c1c1c1; */
  /* width: max-content; */
  /* padding-right: 8px; */
  /* padding-left: 0px; */
  /* padding-bottom: 2px; */
  /* margin-left: 10px; */
  /* text-decoration: underline; */
}
